<footer class="footer">
  <div class="social-links">
    <ul class="social-list">
      {% if site.data.socials.github %}
      <li class="social-item">
        <a href="https://github.com/{{ site.data.socials.github }}" target="_blank" class="social-link">
          <img src="/assets/github.svg" alt="GitHub" class="social-icon github-icon">
        </a>
      </li>
      {% endif %}
      {% if site.data.socials.twitter %}
      <li class="social-item">
        <a href="https://x.com/{{ site.data.socials.twitter }}" target="_blank" class="social-link">
          <img src="/assets/twitter.svg" alt="Twitter" class="social-icon twitter-icon">
        </a>
      </li>
      {% endif %}
      {% if site.data.socials.linkedin %}
      <li class="social-item">
        <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin }}" target="_blank" class="social-link">
          <img src="/assets/linkedin.svg" alt="LinkedIn" class="social-icon linkedin-icon">
        </a>
      </li>
      {% endif %}
      {% if site.data.socials.email %}
      <li class="social-item">
        <a href="mailto:{{ site.data.socials.email }}" target="_blank" rel="noopener noreferrer" class="social-link">
          <img src="/assets/email.svg" alt="Email" class="social-icon email-icon">
        </a>
      </li>
      {% endif %}
      {% if site.data.socials.bluesky %}
      <li class="social-item">
        <a href="https://bsky.arayofcode.com" target="_blank" rel="noopener noreferrer" class="social-link">
          <img src="/assets/bluesky.svg" alt="BlueSky" class="social-icon bluesky-icon">
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>