<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="container content">
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </div>

  {% if site.ms_clarity_project %}
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "{{ site.ms_clarity_project }}");
  </script>
  {% endif %}

  {% if site.cloudflare_token %}
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "{{ site.cloudflare_token }}"}'></script>
  {% endif %}
</body>

</html>