<!DOCTYPE html>
<html lang="en" data-theme="dark-poole">
{% include head.html %}

<body>
  <div class="container content">
    {% include nav.html %}

    <main>
      {{ content }}
    </main>

    <footer class="footer">
      <small>
        &copy;
        <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </small>
    </footer>
  </div>

  <!-- {% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.ga_analytics }}');
  </script>
  {% endif %} -->

  {% if site.ms_clarity_project %}
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "{{ site.ms_clarity_project }}");
  </script>
  {% endif %}

<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
  data-cf-beacon='{"token": "{{ site.cloudflare_token }}"}'></script>
</body>

</html>